{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить {{ object.name }}?
            <form method="post" action="{% url 'admin:product_delete' object.pk %}">
        {% csrf_token %}
        <br><input type="submit" class="btn btn-danger" value="Удалить">
        </form>
        <br><br>

        <button class="menu_button" onclick=location.href="{% url 'admin:products' object.category_id %}">
            К списку продуктов
        </button>
    </div>
{% endblock %}