{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="container">
		<button class="menu_button" onclick=location.href="{% url 'admin:products_create' category.id  %}">
			Новый продукт
		</button>
		<br><br>
		{% for object in object_list %}
			<div class="product_record {% if not object.is_active %}not_active{% endif %}">
				<img src="/media/{{ object.img|default:'products_images/default.jpg' }}" alt="{{ object.name }}" width="200px">
				<div class="product_name">
					{{ object.name|title }}
				</div>
				<div class="product_actions">
					<button class="menu_button" onclick=location.href="{% url 'admin:product_read' object.pk %}">
						Подробнее
					</button>
					<button class="menu_button" onclick=location.href="{% url 'admin:product_update' object.pk %}">
						Редактировать
					</button>
					<button class="menu_button" onclick=location.href="{% url 'admin:product_delete' object.pk %}">
						Удалить
					</button>
				</div>
				<div class="summary">
					<b>цена</b>
					<p>{{ object.price }} USD</p>
				</div>
				<div class="product_desc">
					{{ object.short_desc|title }}
				</div>
			</div>
		{% endfor%}
	</div>
{% endblock %}