<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="IMG/faw.png">
        <link rel="stylesheet" href="CSS/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="CSS/bootstrap-grid.min.css">
        <link rel="stylesheet" href="CSS/bootstrap.min.css">
        <link rel="stylesheet" href="CSS/Style.css">
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootbox.min.js"></script>
        <script src="js/main.js"></script>
        <title>Surviving Mars</title>
    </head>
    
    <body>
      <div class="container">
          <div class="Header">
              <div  class="head-row1">
                  <button type="button" class="menu_button" onclick="btn_signin()" >Вход</button>
                  <button type="button" class="menu_button"  onclick="btn_registration()" >Регистрация</button>
                  <button type="button" class="menu_button" onclick="btn_basket()" >Моя корзина</button>
              </div>
              <div class="head-row2">
                  <div class="he_1">
                      <a href="index.html"><img src="IMG/logo.png" alt="logo" width="250px" ></a>
                  </div>

                  <div>
                      <ul class="header_line">
                          <li><a href="index.html"> Главная</a></li>
                          <li><a href="Catalog.html"> Каталог игр</a></li>
                          <li><a href="store.html"> Новинки</a></li>
                          <li><a href="contacts.html"> Контакты</a></li>
                          <li><a href="store.html"> Оплата</a></li>
                      </ul>
                  </div>
              </div>
          </div>
        
            <hr>
          <div class="it_cont">
                <div class="up_content">
                    <p><img class="it" alt="Surviving Mars" src = "IMG/sm.jpg"> <strong>Surviving Mars</strong> —Создайте свое собственное поселение на Марсе, далекой красной планете. Организуйте экспедицию, обеспечьте их всем необходимым и отправьте покорять эту небесную пустыню. </p>
                    <input type="button" class="button" value="Купить" onclick="location.href='store.html'" /> 
                    <div style="clear:both">
                    </div>
                </div>
                <br><br><br><br><br><br>
                <div class="mid_content">
                    <h3>Об этой игре</h3>
                    <p>Разверните первый лагерь, войдя в историю, и постепенно наращивайте необходимые сооружения вокруг первых жилых куполов. Выращивайте водоросли на марсианских плантациях (сытное и самое доступное пропитание, какое только можно достать здесь), наращивайте местную инфраструктуру. Постройте первых инопланетный мегаполис. Здесь будут рождаться дети, здесь будут сновать туда-сюда летающие машины (если вы их изобретете первый).
                    Великие умы и таланты будут черпать вдохновение в этих красных пустынях. Если справитесь с проблемой пропитания, придется столкнуться с проблемой терморегуляции. Утром жара как в бане, ночью холод собачий, иней на волосах. Кислород, вода, транспорт и инструменты – все это поначалу нужно доставлять с Земли, а после – делать прямо здесь, на месте, в незнакомых условиях. На все это нужны деньги, так что вперед, за работу! Проводите полезные для человечества исследования в уникальных марсианских лабораториях, добывайте дефицитные для земли ископаемые. Плодите население, создавайте для них лучшие условия. До тотальной колонизации с такими темпами рукой подать.
                    Бросьте же грозную красную планету, Планету Войны, к ногам человечества! Исследуйте местные окрестности на предмет жизни, мельчайших бактерий, заледенелых залежей воды. Быть может, вам несказанно повезет и вы сможете обнаружить следы разумной деятельности… «Прямо здесь, подумать только, на пустом Марсе – останки древнего плазменного резака», – напишут в газетах. Но это, конечно, взгляд в далекое будущее. Сегодня все прозаичнее. Дайте людям еды и воды, дайте стройматериалов и воздуха. Дайте им частичку Дома. Уникальный игровой опыт происходит при подмешивании элементов хардкорного сурвайвала в геймплей стратегии в реальном времени. </p>
                </div>

                <div class="low_content">
                    <h3>Системные требования</h3>
                    <div class="min">
                        <h4>Минимальные</h4>
                        <ul class="list_lc">Windows</ul>     
                            <li> <i>Процессор:</i> Intel Core 2 Duo 2.5 GHz</li>
                            <li> <i>Оперативная память:</i> 1 GB ОЗУ</li>
                            <li> <i>Видеокарта:</i> Nvidia 9xxx / ATI 2xxx</li>
                            <li> <i>DirectX:</i> Версии 9.0c</li>
                            <li> <i>Место на диске:</i> 5 GB</li>
                            <li> <i>Звуковая карта:</i> DirectX9 Compatible  </li>
                        <ul class="list_lc">Mac OS X</ul>
                            <li> <i>ОС:</i> MAC OSX 10.7.5</li>
                            <li> <i>Процессор:</i> Intel Core 2 Duo 2.5 GHz</li>
                            <li> <i>Видеокарта:</i> Nvidia 9xxx / ATI 2xxx</li>
                            <li> <i>Место на диске:</i> 5 GB</li>
                            <li> <i>Звуковая карта:</i> DirectX9 Compatible  </li>
                        <ul class="list_lc">Steam OS + Linux </ul>
                            <li> <i>Процессор:</i> Intel Core 2 Duo 2.5 GHz</li>
                            <li> <i>Видеокарта:</i> Nvidia 9xxx / ATI 2xxx</li>
                            <li> <i>Место на диске:</i> 5 GB</li>
                            <li> <i>Звуковая карта:</i> DirectX9 Compatible</li>
                    </div>
                    <div class="rec" style="margin-left: 80px;">
                        <h4>Рекомендуемые</h4>
                        <ul class="list_lc">Windows</ul>     
                            <li> <i>Процессор:</i> Intel Core 2 Duo 2.5 GHz</li>
                            <li> <i>Оперативная память:</i> 1 GB ОЗУ</li>
                            <li> <i>Видеокарта:</i> Nvidia 9xxx / ATI 2xxx</li>
                            <li> <i>DirectX:</i> Версии 9.0c</li>
                            <li> <i>Место на диске:</i> 5 GB</li>
                            <li> <i>Звуковая карта:</i> DirectX9 Compatible  </li>
                        <ul class="list_lc">Mac OS X</ul>
                            <li> <i>ОС:</i> MAC OSX 10.7.5</li>
                            <li> <i>Процессор:</i> Intel Core 2 Duo 2.5 GHz</li>
                            <li> <i>Видеокарта:</i> Nvidia 9xxx / ATI 2xxx</li>
                            <li> <i>Место на диске:</i> 5 GB</li>
                            <li> <i>Звуковая карта:</i> DirectX9 Compatible  </li>
                        <ul class="list_lc">Steam OS + Linux </ul>
                            <li> <i>Процессор:</i> Intel Core 2 Duo 2.5 GHz</li>
                            <li> <i>Видеокарта:</i> Nvidia 9xxx / ATI 2xxx</li>
                            <li> <i>Место на диске:</i> 5 GB</li>
                            <li> <i>Звуковая карта:</i> DirectX9 Compatible</li>
                    </div>
              </div>
          </div>

      </div>
            <hr style="margin-bottom: 0px">

        <div class="Footer" align="center">
            <p class="Footer_text">©Все права защищены</p>
        </div>
       </body>
</html>